@page
@model MovieMatch.Web.Pages.Followers.FollowersInfoModalModel
@using Microsoft.Extensions.Localization
@using MovieMatch.Localization
@inject IStringLocalizer<MovieMatchResource> L
@{
    Layout = null;
}
@*// scriptleri görmez*@

@section scripts{
    <abp-script src="/Pages/Followers/Index.js" />
}

<abp-modal>
    <abp-modal-header>
        <h2>Followers</h2>
    </abp-modal-header>
    <abp-modal-body>
        <abp-table striped-rows="true" id="FollowersTable">

        </abp-table>
    </abp-modal-body>
    <abp-modal-footer buttons="Close"></abp-modal-footer>
</abp-modal>




   
   
