@page
@model MovieMatch.Web.Pages.Explore.IndexModel
@using MovieMatch.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MovieMatchResource> L
@{
}

@section scripts
{
@*    <abp-script src="/Pages/UserConnections/Index.js" />
*@    <abp-script src="/Pages/Explore/Index.js" />
    <abp-script src="/Pages/Files/Index.js" />
}

@section styles{
@*    <abp-style src="/Pages/UserConnections/Index.css" />
*@    <abp-style src="/Pages/Explore/Index.css" />

}

<abp-card>
    <abp-card-header>
        <h2>@L["UserConnections"] (@Model.UserCount)</h2>
        
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="UserConnectionsTable">




        </abp-table>
        





    </abp-card-body>
</abp-card>