@page
@model MovieMatch.Web.Pages.Explore.IndexModel
@using MovieMatch.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MovieMatchResource> L
@{
}

@section scripts
{
@*    <abp-script src="/Pages/UserConnections/Index.js" />
*@    <abp-script src="/Pages/Explore/Index.js" />
    <abp-script src="/Pages/Files/Index.js" />
}

@section styles{
@*    <abp-style src="/Pages/UserConnections/Index.css" />
*@    <abp-style src="/Pages/Explore/Index.css" />

}

<abp-card>
    <abp-card-header>
        <h2>@L["UserConnections"] (@Model.UserCount)</h2>
        
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="UserConnectionsTable">

        </abp-table>
    </abp-card-body>
</abp-card>


    <h3>Recommendend Profiles</h3>
        <div class="swiper user-carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
        @if (Model.RecommendedUsers == null || Model.RecommendedUsers.Count == 0)
        {
            <div class="swiper-slide">
            <h3>No matching users were found, please rate the movies and try again.</h3>
            </div>
            }
            else
            {
                @foreach (var item in Model.RecommendedUsers)
                {
                <div class="swiper-slide">
                    <div class="card">
                            <img class="rounded-circle card-img-top " src="https://image.tmdb.org/t/p/original//kAVRgw7GgK1CfYEJq8ME6EvRIgU.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.UserName</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                           <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                }
            }
       

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
