.messageList{
    border: 1px solid gray;
    height: 600px;
    overflow: auto;
    list-style: none;
    padding-left: 0;
    padding: 10px;
}

#TargetUser {
    width: 50%;
}

#Message {
    width: 50%;
}

.inputText{
    margin-top:514px;
    width:90%;
}

.fade:not(.show) {
    display: none;
}