@page
@using Microsoft.AspNetCore.Mvc.Localization
@using MovieMatch.Localization
@using MovieMatch.Web.Components.Post
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@using Volo.Abp.Users
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Commenting
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Rating
@model MovieMatch.Web.Pages.IndexModel
@inject IHtmlLocalizer<MovieMatchResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
    @section scripts {
    <abp-script src="/Pages/Index.js" />
}

    <div class="container d-flex align-items-center flex-column mb-3">
        <div id="post-list" class="post-list d-flex flex-column align-items-center my-3 post-container">
        </div>

        <div class="spinner-border loader" role="status">
            <span class="sr-only">@L["Loading"]</span>
        </div>

        <h2 class="no-post-data">
            @L["Loading"]
        </h2>

        <button class="btn btn-secondary btn-load-more">
            @L["LoadMore"]
        </button>
</div>
