.card {
    width: 720px;
}

.card-body {
    height: 100%;
}
.h-75.rounded-circle{
    margin-left:10px;
}
.count{
    margin-top:76px;
}
.follow{
    margin-right:25px;
}

.fade:not(.show) {
    display:none;
}
.profile.rounded-circle.prep{
    height:40px;
    width:40px;
    margin-top:-10px;
    
}

